body{
    margin: 0;
}

.stripe {
    border: 1px solid black;
}

.menu.stripe{
    height: 50px;
    position: fixed;
    top: -1px;
	height: 50px;
	width: 1424px;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
	font-size: 13px;
	font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.menu-entry
{
	margin: 40px;
}

.menu-entry a
{
	text-decoration: none;
	color: white;
}

.menu-entry a:hover
{
	color: lightgrey;
}

.menu-entry img
{
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

.search.menu-entry img
{
	width: 25px;
	height: 25px;
}

.bag.menu-entry img
{
	width: 24px;
	height: 24px;
}

.iphoneXs.stripe{
    height: 700px;
    background-image: url(Images/iphoneXs.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    background-color: black;
}

.iphoneXr.stripe{
    height: 700px;
    background-image: url(Images/iphoneXr.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    background-color: black;
}

.watch.stripe{
    height: 800px;
    background-image: url(Images/watch.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 67%;
    background-color: #FAFAFA;
}

.ipad-macbook.stripe{
    height: 600px;
    display: flex;
}

.ipad.stripe{
    width: 50%;
    background-image: url(Images/iPad.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    background-color: #FAFAFA;
}

.macbook.stripe{
    width: 50%;
    background-image: url(Images/macbook.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    background-color: #FAFAFA;
}

.mini-music.stripe{
    height: 600px;
    display: flex;
}

.mini.stripe{
    width: 50%;
    background-image: url(Images/mini.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.music.stripe{
    width: 50%;
    background-image: url(Images/music.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.airpods-tv.stripe{
    height: 600px;
    display: flex;
}

.airpods.stripe{
    width: 50%;
    background-image: url(Images/airpods.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.tv.stripe{
    width: 50%;
    background-image: url(Images/tv.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.footer.stripe{
    height: 300px;
}